body {
    background-color: #fbf1e6;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }

  .animated-text {
    font-weight: bold;
    font-size: 60px;
    background: linear-gradient(90deg, #60d394, #75c7b3, #8cbfe2, #6d78dd);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 3s infinite linear;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .navigation {
    background: black;
    color: white;
    padding: 10px;
    font-family:'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
  
  .nav-icon {
    color: #f4f4f4;
    margin-right: 10px;
  }
  
  .title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-weight: bold;
    font-size: 100px;
    background: linear-gradient(180deg, #f1ce4f, #fbc1a2, #f24d48); /*fafafa*/
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 1s infinite horizontal;
  }
  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  .subtitle {
    font-size: 16px;
    font-family: cursive;
    text-align: center;
    font-weight: 1000;
    color: #555;
  }
  
  .profile-card {
    background: lavender;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  }
  
  .name {
    font-weight: bold;
    font-family: cursive;
  }
  
  .question {
    width: 90%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid rgb(148, 115, 148);
    border-radius: 5px;
    background: white;
  }
  
  .nav-links {
    background: #de9180;
    color: white;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

  }
  
  .link {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .match-button {
    background: white;
    color: #de9180;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
  }
  